<footer class="site-footer">
  <div class="footer-block">
    <h3>{{ site.title }}</h3>
    <p>{{ site.your_name }}, <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <ul class="social-list">
      {% for social in site.social %}
        {% assign template = social.service | prepend:"icon-" | append:".html" %}
        <li class="social-item">
          <span class="social-icon">{% include {{ template }} %}</span>
          <a href="{{ social.link }}">{{ social.username }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="footer-block">
    <p>{{ site.description }}</p>
  </div>
</footer>
