---
---

@import "{{ site.theme }}";
img {
    display: block;
    margin: auto;
    width:25%;
    padding: 15px;
}
header {
  text-align: center;
}
.view-on-github {
  text-align: center;
  margin: auto;
  display: block;
}
span{
text-align: center;
  margin: auto;
  display: block;
}
