---
---

@import "{{ site.theme }}";
img {
    display: block;
    margin: auto;
    width:25%;
    padding: 15px;
}
header {
  text-align: center;
}
a#view-on-github.button {
  text-align: center;
  margin: auto;
  display: block;
  float:none;
  padding:10px;
}
a {
    color: #6d6d6d;
    font-weight: 400;
}
ul {
    margin-left: 35px;
    font-weight: 300;
    li {
        padding-top: 7px;
    }
}
h1 {
    margin-bottom: 10px
}
h2{
    font-weight: normal;
    color: #6d6d6d;
}
code {
    color: #6d6d6d;
}
blockquote {
    font-size: 0.9em;
}